.btnOne{
    border: 1px solid black;
    background-color: black;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 50px;
    margin-left: 45%;
    margin-top: 10px;
}
.btnTwo{
    border: 1px solid black;
    background-color: black;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 50px;
}
.flowerNigth{
    height: 340px;
    width: 600px;
    display: none;
}
.imgClass{
    width: 100%;
    height: 50%;
}

.topMargin{
    margin-top: 10px;
}
.NewText{
    font-size: 50px;
    color: blueviolet;
}

.marginLeft{
    margin-left: 5px;
}